<select [formControl]="nameControl" title="names" name="names" id="name">
  <option value="marco">Marco</option>
  <option value="daniel">Daniel</option>
  <option value="danilo">Danilo</option>
  <option value="raul">Raul</option>
  <option value="ramon">Ramon</option>
</select>
<select [formControl]="docControl" title="doctor" name="doctor" id="doctor">
  <option value="dr. marco">Dr. Marco</option>
  <option value="dr. daniel">Dr. Daniel</option>
  <option value="dr. danilo">Dr. Danilo</option>
  <option value="dr. raul">Dr. Raul</option>
  <option value="dr. ramon">Dr. Ramon</option>
</select>

<button (click)="previewDocument()">
  Preview
</button>


<ckeditor [formControl]="editorControl" [editor]="Editor"
></ckeditor>


<!-- preview  -->

<div id="preview" [innerHTML]="">

</div>
